#right-nav {
  position: fixed;
  top: 1;
  right: 0;
  bottom: 0;
  background-color: transparent;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

#right-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#right-nav li {
  margin-bottom: 10px;
}

