    body {
      font-family: monospace;
      margin: 0;
      padding: 0;
      background-color: #262626;
    }
    header {
      background-color: #787878;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px;
    }
    header h1 {
      margin: 0;
      color: white;
      font-size: 188%;
    }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    header nav ul li {
      margin: 0 5px;
      font-size: 90%;
    }
    header nav ul li a {
      color: white;
      text-decoration: none;
    }
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      margin-left: 50px;
    }
    main h2 {
      margin: 20px 0;
      font-size: 210%;
    }
    main h3 {
      font-size: 135%;
      color: navajowhite;
    }
    main a {
      color: white;
      text-decoration: none;
    }
    main a:hover {
      color: white;
    }
    .home, * {
      color: white;
    }

    *{
      font-size: 105%;
    }
    
    footer p {
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 20px 0;
    }
    .rounded-corner-image {
    border-radius: 17%;
    width: 400px;
    height: 400px;
    object-fit: scale-down;
    float: right;
    margin-right: -400px;
    transition: transform 0.3s;
    position: relative;
    }

    .rounded-corner-image:hover {
    transform: translateY(-10px);
    }

    .logo-container a {
    display: inline-block;
    transition: transform 0.3s ease;
    }

    .logo-container a:hover {
    transform: translateY(-5px);
    }
    
    h3 {
    transition: transform 0.3s ease;
    }

    h3:hover {
    transform: translateY(-5px);
    }

    a:hover {
    text-decoration: none;
    position: relative;
    top: -2px;
    }

    section {
    margin-top: 30px;
    margin-bottom: 30px;
    }

    hr {
    border-top: 0.3px white;
    margin: 50px auto;
    width: 20%;
    }





