    body {
      font-family: monospace;, sans-serif;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #18414c;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px;
    }
    header h1 {
      margin: 0;
      color: white;
      font-size: 188%;
    }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    header nav ul li {
      margin: 0 5px;
      font-size: 90%;
    }
    header nav ul li a {
      color: white;
      text-decoration: none;
    }
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    main h2 {
      margin: 20px 0;
      font-size: 160%;
    }
    main a {
      color: #333;
      text-decoration: none;
    }
    main a:hover {
      color: #18414c;
    }
    .home, * {
      color: #18414c;
    }

    *{
      font-size: 104%;
    }
    